html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.row {
  width: 100%;
}
.col-md-10 {
  padding-top: 20px;
}
.col-md-10 input {
  width: 200px;
}
.list-group-item {
  cursor: pointer;
}

.student-info {
  display: none;
  padding-top: 25px;
}
.table {
  padding-top: 25px;
}
